body {
  margin: 0;
  padding: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  background-color: #d8dee9;
  color: #2e3440;
}

a {
  text-decoration: none;
  color: #4c566a;
  transition: all 0.2s ease;

  font-weight: 600;
  border-bottom: 0px dotted #00000000;
}

a:hover,
a:focus {
  border-bottom: 2px dotted #3b4252;
  color: #3b4252;
}
